@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.floor-plan-editor {
  display: flex;
}

.floor-plan {
  position: relative;
  flex-grow: 1;
}

.full-height{
  height: calc(100vh - 63px);
}

.workspace {
  background-color: lightblue;
  border-radius: 20px;
  width: 85vw; /* 85% del ancho de la ventana */
  height: 80vh; /* 80% de la altura de la ventana */
  margin: auto;
  position: relative; /* Importante para el posicionamiento de las mesas */
}